<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="time" style="position:absolute;z-index:10000;left:200px;">
      <h1><%= "#{@minutes} minutes, #{@seconds} seconds, #{@waypoints.count} waypoints" %><h1>
    </div>
    <div id="map"></div>
    <script>
      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 53.5144, lng: -113.4909},
          zoom: 12,
          zoomControl: true
        });

        var path = [
          <%=
            @waypoints.map do |waypoint|
              "new google.maps.LatLng(#{waypoint})"
            end.join(',');
          %>
        ]
        var pathOptions = {
          strokeColor: "#6666FF",
          strokeWeight: 2,
          path: path,
          icons:[
            {
              icon: {
                path: google.maps.SymbolPath.FORWARD_OPEN_ARROW,
                scale: 1
              },
              offset: "20px",
              repeat: "70px"
            }
          ]
        }

        var line = new google.maps.Polyline(pathOptions)

        line.setMap(map)
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>
  </body>
</html>
